{% load compress %}
{% load staticfiles %}

{% compress js %}
<script type="text/javascript" src="{% static 'bower_components/jquery/dist/jquery.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/bootstrap/dist/js/bootstrap.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/materialize/dist/js/materialize.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/underscore/underscore.js' %}"></script>

<script type="text/javascript" src="{% static 'bower_components/angular/angular.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/angular-route/angular-route.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/angular-cookies/angular-cookies.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/angular-materialize/src/angular-materialize.js' %}"></script>

<script type="text/javascript" src="{% static 'bower_components/ngDialog/js/ngDialog.js' %}"></script>
<script type="text/javascript" src="{% static 'lib/snackbarjs/snackbar.min.js' %}"></script>



<script type="text/javascript" src="{% static 'bower_components/ng-file-upload/ng-file-upload-shim.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/ng-file-upload/ng-file-upload.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/angular-file-upload/dist/angular-file-upload.js' %}"></script>

<script type="text/javascript" src="{% static 'javascripts/${1}.js' %}"></script>

<script type="text/javascript" src="{% static 'javascripts/${1}.config.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/${1}.routes.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/authentication/authentication.module.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/authentication/services/authentication.service.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/authentication/controllers/register.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/authentication/controllers/login.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/layout/layout.module.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/layout/controllers/navbar.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/utils/utils.module.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/utils/services/snackbar.service.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/catalog/catalog.module.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/catalog/services/catalog.service.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/catalog/controllers/upload.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/catalog/controllers/images.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/catalog/controllers/cataloging.controller.js' %}"></script>

<script>
    $(document).ready(function () {
        $(".button-collapse").sideNav();
    })
</script>
{% endcompress %}


