<div class="row">
    <div class="col-md-4 col-md-offset-4">  
    <h3>Upload Images</h3>
        <div class="">
            <div class="file-field input-field">
                <input type="file" nv-file-select uploader="uploader" multiple/>    
              <div class="file-path-wrapper">
                <input class="file-path validate" type="text" placeholder="Browse Images" ng-model="selected_images">
              </div>
            </div>
            
            <button class="btn waves-effect waves-light" type="button"
                    ng-click="uploader.uploadAll()">Upload
                <i class="material-icons right">open_in_new</i>
            </button>
            <br />
            <br />
            <br />
            <br />
              <ul>
                <li style="font:medium" ng-show="progress >= 0">Overall Progress
                   <div class="progress">
                      <div class="determinate" style="width: {{progress}}%"></div>
                  </div>
                </li>
              </ul>
        </div>
    </div>
</div>
